@import url('https://fonts.googleapis.com/css2?family=REM:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'REM', sans-serif;
}

.container {
    height: 100%;
    width: 450px;
    background-color: black;
    position: fixed;
    z-index: 1;


}

.container .profile-card {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0 12px;
    margin-top: 65px;
}

.container h5 {
    margin-top: 20px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
}

.container .Copyright {
    color: white;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    margin-top: 100px;

}

.profile-card img {
    position: relative;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    background-color: #4070f4;
    padding: 3px;


}



.container .skills {
    display: flex;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;



}

.skills .button {
    text-decoration: none;
    background-color: #4070f4;
    color: white;
    border: #4070f4;
    border-radius: 25px;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.skills a {
    text-decoration: none;
    background-color: #4070f4;
    color: white;
    border: #4070f4;
    border-radius: 25px;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.skills a:hover {
    background-color: white;
    color: #4070f4;
    border: #4070f4;
    border-radius: 25px;
    width: 150px;
    transition: 0.5s;
}

.home {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    background-color: rgb(44, 44, 44);
}

.home .tanitim {
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.tanitim h1 {
    color: white;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.tanitim h6 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.portfolio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    position: absolute;
    background-color: rgb(53, 16, 16);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
}

.portfolio .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.portfolio .carousel .carousel-item {
    display: flex;
    justify-content: center;
    object-fit: cover;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
}