/* Google Fonts -Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto+Slab:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    perspective: 1000px;
    background-color: #121321;
    display: flex;
    align-items: center;
    justify-content: center;
}

section::before {
    content: '';
    position: absolute;
    transform: translate(-150px, -100px);
    width: 240px;
    height: 240px;
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);
    border-radius: 50%;
}

section::after {
    content: '';
    position: absolute;
    transform: translate(150px, 100px);
    width: 240px;
    height: 240px;
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);
    border-radius: 50%;
}

.container {
    position: relative;
    width: 375px;
    height: 225px;
    z-index: 100;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.container:hover {
    transform: rotateY(180deg);
}

.container .card {
    position: absolute;
    padding: 25px;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backface-visibility: hidden;
}

.front-face header,
.front-face .logo {
    display: flex;
    align-items: center;
}

.front-face header {
    justify-content: space-between;
}

.front-face .logo img {
    width: 48px;
    margin-right: 10px;
}

h5 {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 5px;
}

.front-face .chip {

    width: 50px;


}

.front-face .card-details {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 50px;
}

h6 {
    font-size: 10px;
    font-weight: 400;
}

h5.number {
    font-size: 18px;
    letter-spacing: 1px;
}

h5.name {
    margin-top: 20px;
    font-size: 16px;
}

.card.back-face {
    border: none;
    padding: 15px 25px 25px 25px;
    transform: rotateY(180deg);
}

.card.card.back-face h6 {
    font-size: 8px;

}

.card.back-face .magnetic-strip {
    position: absolute;
    top: 40px;
    left: 0;
    height: 45px;
    width: 100%;
    background: #000;
}

.card.back-face .signature {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    width: 85%;
    border-radius: 6px;
    background: repeating-linear-gradient(#fff, #fff 3px, #efefef 0px, #efefef 9px);
}

.signature i {
    font-size: 12px;
    color: #000;
    padding: 4px 6px;
    border-radius: 4px;
    background-color: #fff;
    margin-right: -30px;
    z-index: -1;

}

.card.back-face h5 {
    font-size: 8px;
    font-weight: 400;
    color: #fff;
    margin-top: 15px;
}